@{
    ViewBag.Title = "Calendar";
}

@using System.Configuration;

@section StyleSheet
{
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
}

<h1>Calendar</h1>

<hr />


    <iframe src="http://localhost:2307/?userid=@ViewBag.uid" height="750" width="1100" style="border:none"></iframe>
