@{
    ViewBag.Title = "Calendar";
}

@using System.Configuration;
@using CustomMembershipEF.Models;

@section JavaScript {
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/custom/Calendar.js"></script>
    <script src="/Scripts/spin.min.js"></script>
    <script src="/Scripts/bootstrap-select.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-timepicker-addon.js"></script>
}

@section StyleSheet
{
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-select.css" rel="stylesheet" />
    <link href="/Content/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" media="all" type="text/css" href="/Content/css/jquery-ui-timepicker-addon.css" />
}

<h1>Calendar</h1>

<hr />

<div class="row">
    <div class="col-md-8">
        <iframe src="http://54.186.77.86/?userid=@ViewBag.uid" height="700" width="100%" style="border:none"></iframe>
        <!--<iframe src="http://localhost:2307/?userid=@ViewBag.uid" height="700" width="100%" style="border:none"></iframe>-->
        <div class="legend" style="float:left; margin-left:25px">
            <div class="event" style="float:left; margin-right:5px">
                <span class="badge" style="background-color:#FFE4AB; color:#999999">Event</span>
            </div>
            <div class="task" style="float:right">
                <span class="badge" style="background-color:#B5EBB5; color:#999999">Task</span>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-top:8px">
        @if (Model.Count == 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Find a Meeting Time</h3>
                </div>
                <div class="panel-body">
                    <p style="color:#3a87ad">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> You must be apart of a team in order to use this feature
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Find a Meeting Time</h3>
                </div>
                <div class="panel-body">
                    <div class="form-container">
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="teamList">Team</label>
                            </div>
                            <div class="formField">
                                <select id="teamList" name="teamList" class="form-control">
                                    @foreach (var team in Model)
                                    {
                                        <option value=@team.TeamID>@team.TeamName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="earliestDate">Earliest Date</label>
                            </div>
                            <div class="formField">
                                <input id="earliestDate" name="earliestDate" type="text" class="form-control" style="width:100%" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="latestDate">Latest Date</label>
                            </div>
                            <div class="formField">
                                <input id="latestDate" name="latestDate" type="text" class="form-control" style="width:100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="formLabel">
                                    <label for="numResults"># of Results</label>
                                </div>
                                <div class="formField">
                                    <select id="numResults" name="numResults" class="form-control">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="formLabel">
                                    <label for="timeRequired">Required Time</label>
                                </div>
                                <div class="formField">
                                    <select id="timeRequired" name="timeRequired" class="form-control">
                                        <option value="1">1 hour</option>
                                        <option value="2">2 hours</option>
                                        <option value="3">3 hours</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="float:right">
                            <p id="search_err" class="validation_msg" style="color:red; float:left; margin-right:5px; display:none">Please enter a date range</p>
                            <button id="search" class="btn btn-primary" onclick="search()" style="float:right"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" style="height:50px">
                    <h3 class="panel-title" style="float:left">Results</h3>
                    <button id="clear_results" class="btn btn-primary" style="float:right"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <div id="results_body" class="panel-body" style="overflow-y:auto;height:200px">
                    <p id="no_results" style="display:none; color:#3a87ad">No results were found</p>
                    <ul id="results">
                    </ul>
                </div>
            </div>
        }  
    </div>
</div>
    
   