@{
    ViewBag.Title = "Calendar";
}

@using System.Configuration;

@section JavaScript {
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.js"></script>
}

@section StyleSheet
{
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
}

<h1>Calendar</h1>

<hr />


    <iframe src="http://localhost:2307/?userid=@ViewBag.uid" height="750" width="1100" style="border:none"></iframe>
