@{
    ViewBag.Title = "Calendar";
}

@using System.Configuration;

@section StyleSheet
{
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
}

<div class="container">
    <iframe src=@ConfigurationManager.AppSettings["CalendarURL"] + "/?userid=@ViewBag.uid" height="750" width="1100" style="border:none"></iframe>
</div>