<!--
----    File: User.cshtml
----    Created By: Daniele Agueci
----    Description: Initial screen seen by user after logging in. Contains menu of all modules.
-->

@{
    ViewBag.Title = "User";
}

@section StyleSheet
{
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
}

<div class="container">
    
</div>



