@{
    ViewBag.Title = "TaskManager";
}

@section StyleSheet
{
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
    <link href="/Content/css/custom/TaskManager.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-select.css" rel="stylesheet" />
}

@section JavaScript {
    <script src="/Scripts/custom/TaskManager.js"></script>
    <script src="/Scripts/bootstrap-select.js"></script>
}

@section Sidebar{
<div class="row">
        <div class="menu-box">
            <img src="/Content/img/Group-icon.png" class="img-rounded">
            Team Manager
            <a href='@Url.Action("TeamManager", "User")'>
                <span class="link"></span>
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="menu-box">
            <img src="/Content/img/Actions-clipboard-icon.png" class="img-rounded">
            Task Manager
            <a href='@Url.Action("TaskManager", "User")'>
                <span class="link"></span>
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="menu-box">
            <img src="/Content/img/Calendar-icon.png" class="img-rounded">
            Calendar
            <a href='@Url.Action("Calendar", "User")'>
                <span class="link"></span>
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="menu-box">
            <img src="/Content/img/Gear-icon.png" class="img-rounded">
            Settings
            <a href='@Url.Action("Settings", "User")'>
                <span class="link"></span>
            </a>
        </div>
    </div>
}

<div class="team-option">
        Team: <select id="Select1" class="selectpicker" data-style="btn-primary">
    </select>
    </div>

    

<h2>TaskManager</h2>

<div class="tasklist">
        <table id="myTasks" class="table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Projected Start Date</th>
                    <th>Deadline</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>