@{
    ViewBag.Title = "TaskManager";
}

@section StyleSheet
{
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
    <link href="/Content/css/custom/TaskManager.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-select.css" rel="stylesheet" />
    <link href="/Content/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" media="all" type="text/css" href="/Content/css/jquery-ui-timepicker-addon.css" />
}

@section JavaScript {
    <script src="/Scripts/custom/TaskManager.js"></script>
    <script src="/Scripts/bootstrap-select.js"></script>
    <script src="/Scripts/sorttable.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-timepicker-addon.js"></script>
}

<h1>Task Manager</h1>

<hr />

<!-- currently creates tasks for the selected team-->
<div>
    <div class="btn-group">
        <button id="createTask_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal"><span class="glyphicon glyphicon-plus" ></span>  Create Task</button>
    </div>

    <div class="team-option">
        Team: <select id="Select1" class="selectpicker" data-style="btn-primary">
                
              </select>
    </div>
</div>

<div class="tasklist">
    <table id="myTasks" class="table sortable">
        <thead>
            <tr>
                <th></th><!--TODO remove comment: TODO: add checkbox for deletion-->
                <th>Task</th>
                <th>Projected Start Date</th>
                <th>Deadline</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Create Task Modal -->
<div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createTaskModalLabel">Create a Task</h4>
            </div>

            <div class="modal-body">
                <div id="createtask_alert" class="alert alert-danger hidden"></div>
                <form id="createtask-modal-form" name="createtask-modal-form" accept-charset="UTF-8" action="/tagging" data-remote="true" method="post">
                    <div class="form-container">
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="taskName">Task Name</label>
                            </div>
                            <div class="formField">
                                <input id="taskName" name="taskName" type="text" class="form-control" />
                            </div>
                            <p id="taskname_err" class="validation_msg">Task Name is a mandatory field.</p>
                        </div>
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="taskDetails">Task Details</label>
                            </div>
                            <textarea id="taskDescription" rows=5 cols=75></textarea>
                            <!--TODO default start and end times-->
                            <div class="formLabel">
                                <label for="taskTimes">Projected Start Time and Deadline</label>
                            </div>
                            <input type="text" name="taskStartTime" id="taskStartTime" value="" />
                            <p id="taskStartTime_err" class="validation_msg">Task Start time is a mandatory field.</p>
                            <input type="text" name="taskDeadline" id="taskDeadline" value="" />
                            <p id="taskDeadline_err" class="validation_msg">Task Deadline is a mandatory field.</p>
                            
                            <div class="formLabel">
                                <label for="taskTeam">Team</label>
                            </div>
                            <select name="team" id="team"></select>
                            <p id="team_err" class="validation_msg">Task team is a mandatory field.</p>
                            <div class="formLabel">
                                <label for="taskAssignee">Assignee</label>
                            </div>
                            <select name="assignee" id="assignee" class="selectpicker" data-style="btn-primary">
                            </select>
                            <p id="assignee_err" class="validation_msg">Assignee is a mandatory field.</p>
                            <!--TODO Reminders for tasks-->
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="createButton" type="button" class="btn btn-primary" onclick="createTask()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
