@{
    ViewBag.Title = "Task Manager";
}

@using CustomMembershipEF.Models;

@section StyleSheet
{
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
    <link href="/Content/css/custom/TaskManager.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-select.css" rel="stylesheet" />
    <link href="/Content/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" media="all" type="text/css" href="/Content/css/jquery-ui-timepicker-addon.css" />
}

@section JavaScript {
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/custom/TaskManager.js"></script>
    <script src="/Scripts/bootstrap-select.js"></script>
    <script src="/Scripts/spin.min.js"></script>
    <script src="/Scripts/sorttable.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-timepicker-addon.js"></script>
}

<h1>Task Manager</h1>

<hr />

@if (Model.teamList.Count == 0)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> You currently do not belong to any teams</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Navigate to the Team Manager page</li>
                <li>Create a team and/or respond to an invitation from another user</li>
                <li>Come back!</li>
            </ul>
        </div>
    </div>
}
else
{
    <!-- currently creates tasks for the selected team-->
    <div>
        <div class="btn-group">
            <button id="createTask_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal"><span class="glyphicon glyphicon-plus" ></span>  Create Task</button>
            <button id="deleteTask_button" type="button" class="btn btn-primary disabled" onclick="deleteTasks()"><span class="glyphicon glyphicon-trash"></span>  Delete Task</button>
        </div>
        
        <div class="team-option">
            Team: <select id="Select1" class="selectpicker" data-style="btn-primary">
                  </select>
        </div>
    </div>

    <div class="tasklist">
        <table id="myTasks" class="table table-hover sortable">
            <thead>
                <tr>
                    <th class="sorttable_nosort" style="width:5%"></th>
                    <th style="width:15%">Task Name</th>
                    <th style="width:22%">Description</th>
                    <th style="width:15%">Start Date</th>
                    <th style="width:15%">Deadline</th>
                    <th style="width:10%">Status</th>
                    <th style="width:15%">Assigned To</th>
                    <th class="sorttable_nosort" style="width:8%;"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div style="padding-left:10px">
            <p id="notasks" style="display:none; color:#3a87ad">This team does not have any tasks</p>
        </div>
    </div>

    <!-- Create Task Modal -->
    <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createTaskModalLabel">Create a Task</h4>
                </div>

                <div class="modal-body">
                    <div id="createtask_alert" class="alert alert-danger hidden"></div>
                    <form id="createtask-modal-form" name="createtask-modal-form" accept-charset="UTF-8" data-remote="true" method="post">
                        <div class="form-container">
                            <div class="teamName_container form-group">
                                <div class="formLabel">
                                    <label for="teamName">Team</label>
                                </div>
                                <div class="formField">
                                    <input id="teamName" name="teamName" type="text" class="form-control" disabled />
                                    <div id="teamID" style="display:none"></div>
                                </div>
                            </div>
                            <div class="taskName_container form-group">
                                <div class="formLabel">
                                    <label for="taskName">Task Name</label>
                                </div>
                                <div class="formField">
                                    <input id="taskName" name="taskName" type="text" class="form-control" />
                                </div>
                                <p id="taskname_err" class="validation_msg">Task Name is a required field.</p>
                            </div>
                            <div class="taskDetails_container form-group">
                                <div class="formLabel">
                                    <label for="taskDetails">Task Details</label>
                                </div>
                                <textarea id="taskDescription" rows=5 style="width:100%; max-width:100%; max-height:400px; margin-bottom:10px;"></textarea>
                            </div>
                            <!--TODO default start and end times-->
                            <div id="task_date_container form-group" style="margin-bottom:10px;width:100%">
                                <div class="formLabel row" style="width:100%">
                                    <label class="col-md-6" for="taskTimes" style="float:left">Start Date</label>
                                    <label class="col-md-6" for="taskTimes" style="float:right">Deadline</label>
                                </div>
                                <div class="row" style="width:100%">
                                    <div class="col-md-6">
                                        <input type="text" name="taskStartTime" id="taskStartTime" value="" />
                                        <p id="taskStartTime_err" class="validation_msg">Required</p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="taskDeadline" id="taskDeadline" value="" />
                                        <p id="taskDeadline_err" class="validation_msg">Required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="assignee_container form-group">
                                <div class="formLabel">
                                    <label for="taskAssignee">Assign To</label>
                                </div>
                                <select name="assignee" id="assignee" class="selectpicker form-control" data-style="btn-primary" style="width:100%">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button id="createButton" type="button" class="btn btn-primary" onclick="createTask()">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Edit Task Modal -->
    <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editTaskModalLabel">Edit Task</h4>
                </div>

                <div class="modal-body">
                    <div id="edittask_alert" class="alert alert-danger hidden"></div>
                    <form id="edittask-modal-form" name="edittask-modal-form" accept-charset="UTF-8" data-remote="true" method="post">
                        <div class="form-container">
                            <div class="teamName_container form-group">
                                <div class="formLabel">
                                    <label for="edit_teamName">Team</label>
                                </div>
                                <div class="formField">
                                    <input id="edit_teamName" name="edit_teamName" type="text" class="form-control" disabled />
                                    <div id="edit_teamID" style="display:none"></div>
                                    <div id="edit_taskID" style="display:none"></div>
                                </div>
                            </div>
                            <div class="taskName_container form-group">
                                <div class="formLabel">
                                    <label for="edit_taskName">Task Name</label>
                                </div>
                                <div class="formField">
                                    <input id="edit_taskName" name="edit_taskName" type="text" class="form-control" />
                                </div>
                                <p id="edit_taskname_err" class="validation_msg">Task Name is a required field.</p>
                            </div>
                            <div class="taskDetails_container form-group">
                                <div class="formLabel">
                                    <label for="edit_taskDetails">Task Details</label>
                                </div>
                                <textarea id="edit_taskDetails" rows=5 style="width:100%; max-width:100%; max-height:400px; margin-bottom:10px;"></textarea>
                            </div>
                            <!--TODO default start and end times-->
                            <div class="task_date_container form-group" style="margin-bottom:10px;width:100%">
                                <div class="formLabel row" style="width:100%">
                                    <label class="col-md-6" for="edit_taskStartTime" style="float:left">Start Date</label>
                                    <label class="col-md-6" for="edit_taskDeadline" style="float:right">Deadline</label>
                                </div>
                                <div class="row" style="width:100%">
                                    <div class="col-md-6">
                                        <input type="text" name="edit_taskStartTime" id="edit_taskStartTime" value="" />
                                        <p id="edit_taskStartTime_err" class="validation_msg">Required</p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="edit_taskDeadline" id="edit_taskDeadline" value="" />
                                        <p id="edit_taskDeadline_err" class="validation_msg">Required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="status_container form-group">
                                <div class="formLabel">
                                    <label for="edit_status">Status</label>
                                </div>
                                <select name="edit_status" id="edit_status" class="selectpicker form-control" data-style="btn-primary" style="width:100%">
                                    <option value="0">To do</option>
                                    <option value="1">In Progress</option>
                                    <option value="2">Complete</option>
                                </select>
                            </div>
                            <div class="assignee_container form-group">
                                <div class="formLabel">
                                    <label for="edit_assignee">Assign To</label>
                                </div>
                                <select name="edit_assignee" id="edit_assignee" class="selectpicker form-control" data-style="btn-primary" style="width:100%">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button id="editButton" type="button" class="btn btn-primary" onclick="editTask()">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
}



