@{
    ViewBag.Title = "TeamManager";
}

@section JavaScript {
    <script src="/Scripts/custom/TeamManager.js"></script>
}

<div class="container">
<h2>TeamManager</h2>

    <button type="button" class="btn btn-primary">Create Team</button>
    <div class="teamlist">
        <table class="table">
            <thead>
                <tr>
                    <th>Team name</th>
                    <th>Course</th>
                    <th>Team members</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    

</div>