@{
    ViewBag.Title = "TeamManager";
}

@section JavaScript {
    <script src="/Scripts/custom/TeamManager.js"></script>
    <script src="/Scripts/spin.min.js"></script>
}

@section StyleSheet {
    <link href="/Content/css/custom/TeamManager.css" rel="stylesheet" />
}

<div class="container">

    <div id="foo"></div>

    <h2>TeamManager</h2>

    <div class="invitations">
        <span class="glyphicon glyphicon-envelope"></span>
        You currently have <b><a id="inviteCount"></a></b> invitations.
    </div>

    <div class="btn-group">
        <button id="createTeam_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTeamModal"><span class="glyphicon glyphicon-plus"></span>  Create Team</button>
        <button id="sendInvite_button" type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#sendInviteModal"><span class="glyphicon glyphicon-share-alt"></span>  Send Invitation</button>
    </div>

    <div class="teamlist">
        <table id="myTeams" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Team name</th>
                    <th>Course</th>
                    <th>Team members</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

</div>

<!-- Create Team Modal -->
<div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="createTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createTeamModalLabel">Create a Team</h4>
            </div>

            <div class="modal-body">
                <form id="createteam-modal-form" name="createteam-modal-form" accept-charset="UTF-8" action="/tagging" data-remote="true" method="post">
                    <div class="form-container">
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="teamName">Team Name</label>
                            </div>
                            <div class="formField">
                                <input id="teamName" name="teamName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="courseToken">Course Token</label>
                            </div>
                            <div class="formField">
                                <input id="courseToken" name="courseToken" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="createButton" type="button" class="btn btn-primary" onclick="createTeam()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- Send Invite Modal -->
<div class="modal fade" id="sendInviteModal" tabindex="-1" role="dialog" aria-labelledby="sendInviteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="sendInviteModalLabel">Send an Invitation</h4>
            </div>

            <div class="modal-body">
                <form id="sendinvite-modal-form" name="sendinvite-modal-form" accept-charset="UTF-8" action="/tagging" data-remote="true" method="post">
                    <div class="form-container">
                        <div class="form-group">
                            <div class="formLabel">
                                <label for="userName">User name</label>
                            </div>
                            <div class="formField">
                                <input id="userName" name="userName" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="inviteButton" type="button" class="btn btn-primary" onclick="sendInvite()">Invite</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- Send Invite Modal -->
<div class="modal fade" id="viewInviteModal" tabindex="-1" role="dialog" aria-labelledby="viewInviteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="viewInviteModalLabel">Invitations</h4>
            </div>

            <div class="modal-body">
                <ul class="list-group">
                </ul>
            </div>

            <div class="modal-footer">
                <div class="modalOptions">
                    <button id="accept" type="button" class="btn btn-success disabled" onclick="acceptInvite()"><span class="glyphicon glyphicon-ok"></span>  Accept</button>
                    <button id="decline" type="button" class="btn btn-danger disabled" onclick="declineInvite()"><span class="glyphicon glyphicon-remove"></span>  Decline</button>
                </div>
            </div>

        </div>
    </div>
</div>