@{
    ViewBag.Title = "TeamManager";
}

@using CustomMembershipEF.Models;

@section JavaScript {
    <script src="/Scripts/custom/TeamManager.js"></script>
    <script src="/Scripts/spin.min.js"></script>
}

@section StyleSheet {
    <link href="/Content/css/custom/TeamManager.css" rel="stylesheet" />
    <link href="/Content/css/custom/user.css" rel="stylesheet" />
}

    <div class="invitations">
        @if (Model.inviteCount == 1)
        {
            <div id="inviteStatus"><span class="glyphicon glyphicon-envelope"></span>  You currently have <b><a id="inviteCount">@Model.inviteCount</a></b> <span id="wording">invitation</span>.</div>
        }
        else
        {
            <div id="inviteStatus"><span class="glyphicon glyphicon-envelope"></span>  You currently have <b><a id="inviteCount">@Model.inviteCount</a></b> <span id="wording">invitations</span>.</div>
        }
    </div>

    <div class="btn-group">
        <button id="createTeam_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTeamModal"><span class="glyphicon glyphicon-plus"></span>  Create Team</button>
        <button id="leaveTeam_button" type="button" class="btn btn-primary disabled" onclick="leaveTeams()"><span class="glyphicon glyphicon-remove"></span>  Leave Team</button>
        <button id="sendInvite_button" type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#sendInviteModal"><span class="glyphicon glyphicon-send"></span>  Send Invitation</button>
    </div>

    <div class="teamlist">
        <table id="myTeams" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Team Name</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Team Members</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div style="padding-left:10px">
            <p id="noteams" style="display:none"><b>You are not apart of any teams.</b></p>
        </div>
    </div>


<!-- Create Team Modal -->
<div class="modal fade" id="createTeamModal" role="dialog" aria-labelledby="createTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createTeamModalLabel">Create a Team</h4>
            </div>

            <div class="modal-body">
                <div id="createteam_alert" class="alert alert-danger"></div>
                <div class="form-container">
                    <div class="form-group">
                        <div class="formLabel">
                            <label for="teamName">Team Name</label>
                        </div>
                        <div class="formField">
                            <input id="teamName" name="teamName" type="text" class="form-control" />
                        </div>
                        <p id="teamname_err" class="validation_msg">Team Name is a mandatory field.</p>
                    </div>
                    <div class="form-group">
                        <div class="formLabel">
                            <label for="courseToken">Course Token</label>
                        </div>
                        <div class="formField">
                            <input id="courseToken" name="courseToken" type="text" class="form-control" />
                        </div>
                        <p id="coursetoken_err" class="validation_msg">Course Token is a mandatory field.</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="createButton" type="button" class="btn btn-primary" onclick="createTeam()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- Send Invite Modal -->
<div class="modal fade" id="sendInviteModal" role="dialog" aria-labelledby="sendInviteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="sendInviteModalLabel">Send an Invitation</h4>
            </div>

            <div class="modal-body">
                <div id="invite_alert" class="alert alert-danger"></div>
                <div class="form-container">
                    <div class="form-group">
                        <div class="formLabel">
                            <label for="userName">Username</label>
                        </div>
                        <div class="formField">
                            <input id="userName" name="userName" type="text" class="form-control" />
                        </div>
                        <p id="username_err" class="validation_msg">Username is a mandatory field.</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="inviteButton" type="button" class="btn btn-primary" onclick="sendInvite()">Invite</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- View Invite Modal -->
<div class="modal fade" id="viewInviteModal" role="dialog" aria-labelledby="viewInviteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="viewInviteModalLabel">Invitations</h4>
            </div>

            <div class="modal-body">
                <ul class="list-group">
                </ul>
            </div>

            <div class="modal-footer">
                <div class="modalOptions">
                    <button id="accept" type="button" class="btn btn-success disabled" onclick="InviteResponse('acc')"><span class="glyphicon glyphicon-ok"></span>  Accept</button>
                    <button id="decline" type="button" class="btn btn-danger disabled" onclick="InviteResponse('dec')"><span class="glyphicon glyphicon-remove"></span>  Decline</button>
                </div>
            </div>

        </div>
    </div>
</div>