.btn-group {
    float: right;
    margin-bottom: 5px;
}

/*Team Select Box.
    TODO: make color blue*/
.team-option {
    /*float: right;*/
    margin-bottom: 5px;
    /*clear: right;*/
}

.modalOptions {
    text-align:center;
}

.form-container {
    width: 80%;
    margin: 0 auto;
}

.formLabel {
    width: 400px;
}

.formField input {
    width: 100%;
}

table td {
    border: none;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: " \25B4\25BE" 
}

a {
    cursor: pointer;
}

li {
    cursor: pointer;
}

#tabs, #ui-datepicker-div, .ui-datepicker { 
    font-size: 85%; 
}
