.btn-group {
    float: right;
    margin-bottom: 5px;
}

.modalOptions {
    text-align:center;
}

.form-container {
    width: 80%;
    margin: 0 auto;
}

.formLabel {
    width: 100px;
}

.formField input {
    width: 100%;    
}

table td {
    border: none;
}

a {
    cursor: pointer;
}

li {
    cursor: pointer;
}

.validation_msg {
    display:none;
    color:red;
}

.alert {
    display:none;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE";
}

th:hover {
    cursor:pointer;
}