@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section JavaScript
{
    <script src="/Scripts/custom/homepage.js"></script>
}

@section StyleSheet
{
    <link href="/Content/css/custom/homepage.css" rel="stylesheet" />
}

<div class="container">
    <div style="margin:100px 0px;text-align:center">
        <img src="../../Content/img/groupuplogo.gif" />
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4" >
            <div class="details_container well" align="center">
                <h2>Manage your teams</h2>
                <img src="/Content/img/user_group.png" class="img-rounded">
                <p>Keep in touch with all your team members, all in one location.</p>
                <a id="teamDetails" class="more_details btn" rel="popover" data-placement="right">More details &raquo;</a>
            </div>
        </div>
        <div class="col-md-4" align="center">
            <div class="details_container well">
                <h2>Track your tasks</h2>
                <img src="/Content/img/tasks.png" class="img-rounded">
                <p>Take control of your responsibilities for each of your team projects.</p>
                <a id="taskDetails" class="more_details btn" rel="popover" data-placement="right">More details &raquo;</a>
            </div>
        </div>
        <div class="col-md-4" align="center">
            <div class="details_container well">
                <h2>Stay organized</h2>
                <img src="/Content/img/date.png" class="img-rounded">
                <p>An all-in-one calendar that keeps track of all your school related events. </p>
                <a id="calendarDetails" class="more_details btn" rel="popover" data-placement="right">More details &raquo;</a>
            </div>
        </div>
    </div>

    <hr>

</div>

<div class="popoverDetails" id="teamDetails_msg">
    <p><span class="glyphicon glyphicon-ok"></span> Invite other students to your team or join an existing team.</p>
    <p><span class="glyphicon glyphicon-ok"></span> Create multiple teams for all your project based courses.</p>
</div>
 
<div class="popoverDetails" id="taskDetails_msg">
    <p><span class="glyphicon glyphicon-ok"></span> Easily manage what each team member is working on, how they are progressing, and when their task needs to be done.</p>
    <p><span class="glyphicon glyphicon-ok"></span> Utilize project templates to start with a baseline of tasks specified by your course administrator, while maintaining the freedom to create additional tasks for your groups specific needs.</p>
</div>

<div class="popoverDetails" id="calendarDetails_msg">
    <p><span class="glyphicon glyphicon-ok"></span> Create your own personal events.</p>
    <p><span class="glyphicon glyphicon-ok"></span> Import tasks into your calendar as events.</p>
    <p><span class="glyphicon glyphicon-ok"></span> Create team specific events by using our meeting scheduler, which lets students know times when all teammates are available.</p>
    <p><span class="glyphicon glyphicon-ok"></span> Configure your calendar to send you reminders via SMS or email, so you never miss a deadline or meeting again.</p>
</div>
