<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventNotifier.Properties.Settings.PMConnectionString"
            connectionString="Data Source=54.218.14.4;Initial Catalog=PM;User ID=sa;Password=dagueci_AWS"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>